// BLOCKS
@import '../assets/imports.styl'


shadowSize = 2px
/* 7ef166d34a4afb6b8a39e7fcb1c302ad */
.btn-b
	btnHeight = 4.5*gs 
	background c-red
	height 		btnHeight
	line-height btnHeight
	position relative
	display: inline-block
	padding 0 4*gs
	color white
	cursor pointer
	border-radius br
	box-shadow shadowSize shadowSize 0 rgba(rgb(c-grey1), .25)
	font-size 20px
	text-align center

	&:hover
		background c-green-hover
	&:before
		content ''
		position absolute
		nw 0
		rect 100%
	&:active
		transform translate(shadowSize,shadowSize)
		box-shadow none
		background c-green
		&:before, > input[type="file"]
			transform translate(- shadowSize,- shadowSize)
		
	> input[type="file"]
		padding-left 110%
		cursor: pointer
		rect 100%
		opacity 0
		nw 0
		position absolute

	&.is-block
		display block

	/* 58b21870f4e247e374c47f1d6d823c88 */
	&.is-iconed
		padding 0
		width 100%
		// width 4.5*gs
		.icon
			rect gs
			fill white
			position absolute
			nw 50%
			margin-left - (gs/2)
			margin-top - (gs/2)

	&.is-grey10
		background-color c-grey10
		color c-grey2

	/* 3dd69df51d0449f7f9db27fe23b7cef6 */
	&.is-inactive
		box-shadow none II
		cursor default  II
		background-color darken(c-bg, 5)
		color c-grey9

		&:active
			transform none II


/* 2d1fab40da35f011158b6d925d885e4d */
.round-icon-b
	border 2px solid c-red
	border-radius 50%
	rect 7*gs
	padding-top 1px

	.icon
		margin-top  gs
		margin-left 1.5*gs

	&.is-like-message
		.icon
			margin-top  1.25*gs
			margin-left 1.25*gs
	
	/* 1b741f34c3ead6764b6bb32b801f4bcd */
	&.is-bg
		border 2px solid c-bg
		.icon
			fill c-bg
		
		/* 906856403f4d4034b402ba201a4709ae */
		&.is-hoverable:hover
			cursor pointer
			border 2px solid c-bg-hover
			// 4!
			.icon
				fill c-bg-hover



/* 72cc54b79ee801bfc76efed589955b5 */
.main-logo-b
	padding-top 1px
	color c-red
	display block

	.icon
		float left
		rect 6*gs

	> .text-be
		font-size 3.5*gs
		margin-left 7*gs
		margin-top  2*gs

/* cf0436b439ccd7682cb39acb96fee749 */
timerWidth = 9*gs
.timer-b
	position: relative
	color c-red
	width timerWidth
	text-align center

	> .text-be
		font-family Impact
		position: relative
		font-size 1.75*gs 
		font-weight 100
		top 3.5*gs
		display inline-block
		margin-left (gs/2)

	.icon
		rect timerWidth

recipeMarginLeft = 35.5*gs
.recipe-b
	padding 8*gs 0
	position relative

	&:hover, &.is-edit, &.is-expanded
		.side-icons-l
			display block
			opacity 1
			-webkit-transition-duration 0
			-moz-transition-duration 0
			-ms-transition-duration 0
			-o-transition-duration 0
			transition-duration 0

	&.is-expanded, &.is-edit
		.recipe-body-b
			height auto

	&.is-edit
		.btn-b
			display block

	[contenteditable="true"]
		outline 0
		background-color white
		border-radius 2*br
		white-space normal II

		&.text-bl
			padding 2*gs

		&:focus
			box-shadow inset 0 0 0 2px c-red

	.btn-b
		float right
		margin-top 4*gs
		margin-right 2*gs
		display none
		width 20*gs

	.recipe-body-b
		margin-left recipeMarginLeft - 2*gs
		padding-left 2*gs
		height 0
		overflow hidden

	.side-icons-l
		position: absolute
		position: absolute
		right - 13*gs
		top 6*gs
		// display none
		crossTransition opacity .5s ease-out
		opacity 0

/* 516dc04f51893a5d1dbff04a2c995f72 */
.recipe-body-b
	> .text-bl
		color c-grey5
		font-size 4.5*gs
		line-height 6*gs

/* c53d5dc9d1b33c8f73baa1ea4d088a26 */
.recipe-header-b
	color c-grey5
	position: relative
	.recipe-preview-e
		float left

	> .header-be,  > .description-be, > .ago-be
		margin-left recipeMarginLeft

	> .header-be, > .description-be
		textel()

	> .header-be
		font-size 	9*gs
		margin-top 2.5*gs

	> .description-be
		font-size 	4.5*gs
		margin-top gs


	> .ago-be
		margin-top 2*gs
		font-size 	3*gs

