// ELEMENTS
@import '../assets/imports.styl'

/* b69a1e4a33a526ed9af2af493cfb4cb1 */
diametr = 29
.recipe-preview-e
	rect diametr*gs
	// background pink url('http://lorempixel.com/'+(diametr*8)+'/'+(diametr*8)+'/abstract')
	border-radius 50%
	border 4px solid c-red
	background white


