- var data = { header: '<%= header %>', description: '<%= description %>', author: '<%= author %>', ago: '<%= ago %>' }
include ../css/partials/recipe-header
- data = { text: '<%= text %>' }
include ../css/partials/recipe-body 

- data = { time: '52\'' }
include ../css/partials/side-icons