.side-icons-l
	include timer

	- var data = { className: 'is-hoverable', idAttribute: 'js-edit', path: 'pen-icon' }
	include icon

	- var data = { className: 'is-hoverable', idAttribute: 'js-remove', path: 'trash-icon' }
	include icon

	- var data = { className: 'is-hoverable', idAttribute: 'js-versions', path: 'time-machine-icon' }
	include icon